var os = require("os");
var fs = require("fs");

var Config = {
	Version: "1",
	root: "/",
	language: "en",
	author: "user",
	authorMail: "user@domain.tld",
	Link: "http://127.0.0.1",
	Title: "My Blog",
	DirectoryCache: "cache",
	HeaderExpires: 60000 * 60, // 60 Minutes
	ClearCacheOnStart: false,
	DevMode: false,
	MaxHttpPOSTSize: 5e7, // 50 Megabyte
	HandleClientCacheControl: true,
	DefaultContentType: "text/html",
	ServerVersion: "node.js/" + process.version,
	cache: "FsCache", // "MemCache" | "FsCache" | "none"
	FileEditor: "editor.html",
	ApiKey: "changeme",
	server: {
		port: 8000
	},
	Https: {
		Enabled: false,
		Key: fs.readFileSync("./localhost.key"),
		Cert: fs.readFileSync("./localhost.crt")
	},
	EnableHttp2: false, // for this option you must enable and configure "Https" otherwise the application will automatically fallback to plain HTTP!
	post: {
		FileHeader: "header.html",
		FileFooter: "footer.html",
		DirectoryPosts: "posts",
		CountPosts: 20,
		MessageOlderPage: "Older",
		MessageNewerPage: "Newer",
		MessageEnd: "The end."
	},
	rss: {
		CountPosts: 100,
		Description: "Some Description",
		Encoding: "UTF-8",
		skipHours: [0, 1, 2, 3, 4, 5, 6, 7],
		Title: "Some Title",
		ttl: 60, // minutes
		webMaster: "Admin",
		webMasterMail: "admin@domain.tld"
	},
	staticContentPath: "static/",
	staticContentUri: "/static/?f=",
	threads: os.cpus().length
};


exports.Config = Config;
